md-sidenav {
   position: static;
}

md-panel {
   display: block !important;
}

md-bottom-sheet {
   overflow: hidden;
}

.content {
   padding: 16px;
}

pre {
   word-wrap: break-word;
   white-space: pre-wrap;
}
