md-sidenav {
   position: static;
}

md-bottom-sheet {
   overflow: hidden;
   padding-top: 0;
   padding-left: 0;
   padding-right: 0;
}

.content {
   padding: 16px;
}

pre {
   word-wrap: break-word;
   white-space: pre-wrap;
}
