.menu {
   position: relative;
   width: 100%;
   left: 0;
   clip-path: inset(0 0 0 0);
}

.menu.ng-animate {
   transition: all cubic-bezier(.25, .46, .45, .95) .35s;
}

.menu.left {
	left: -100%;
   clip-path: inset(0 0 0 100%);
}

.menu.right {
   left: 100%;
   clip-path: inset(0 100% 0 0);
}

.submenu {
   margin-left: 16px;
}

.submenu.slide {
	position: relative;
	overflow: hidden;
}

.submenu.slide.ng-enter {
	animation: 1.35s down;
}

.submenu.slide.ng-leave {
	animation: .35s up;
}

@keyframes down {
	from {
		max-height: 0;
	}
	to {
		max-height: 100vh;
	}
}

@keyframes up {
	from {
		max-height: 100vh;
	}
	to {
		max-height: 0;
	}
}

a.breadcrumb,
a.breadcrumb:visited {
   color: inherit;
   text-decoration: none;
}

md-list.body {
   padding-top: 0;
   padding-bottom: 0;
}
