<div class="menu-container" ng-init="reset()">
   <md-list class="header">
      <md-list-item>
         <md-truncate>
            <span ng-repeat="menu in stack">
               <a class="breadcrumb" href ng-click="back($index)">{{menu.item}}</a>
               <ng-md-icon icon="chevron_right"></ng-md-icon>
            </span>
            <span>{{current.item}}</span>
         </md-truncate>
      </md-list-item>
   </md-list>
   <div class="menu {{animation}}">
      <md-list class="body">
         <md-list-item ng-repeat="item in current.menu" ng-click="click(item)">
            <span flex>{{item.item}}</span>
            <ng-md-icon icon="chevron_right" ng-if="item.menu"></ng-md-icon>
         </md-list-item>
      </md-list>
   </div>
</div>
